<div class="flex items-center justify-center">
  <div class=" w-1/4 bg-blue-300 rounded py-16 px-12 m-16 flex flex-col items-center justify-center shadow-zinc-950">
    <%= image_tag('images.jpeg', class:"rounded-full h-32 w-32") %>
    <div class="mt-8 mb-4">
      <h2 class="text-2xl text-center">Log in</h2>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="my-5 flex-col flex">
          <%= f.label :email, class:"block mb-2 text-sm font-medium text-gray-900 dark:text-white" %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email",class:"bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
        </div>

        <div class="my-5 flex-col flex">
          <%= f.label :password, class:"block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
          <%= f.password_field :password, autocomplete: "current-password", class:"bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="flex items-center">
            <%= f.check_box :remember_me, class:"w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600" %>
            <%= f.label :remember_me, class:"ml-2 text-sm font-medium text-gray-900 dark:text-gray-300"%>
          </div>
        <% end %>

        <div class="my-5 flex-col flex">
          <%= f.submit "Log in", class:"py-2.5 px-5 mr-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700" %>
        </div>
      <% end %>

    </div>
  </div>
</div>
