<div class="container mx-auto flex items-center flex-wrap pt-4 pb-12">

    <p class="my-5">
      <strong class="block font-medium mb-1">Title:</strong>
      <%= @course.title %>
    </p>

    <p class="my-5">
      <strong class="block font-medium mb-1">Teacher:</strong>
      <%= @course.user.email %>
    </p>

    <p class="my-5">
      <strong class="block font-medium mb-1">Description:</strong>
      <%= @course.description %>
    </p>

    <p class="my-5">
      <strong class="block font-medium mb-1">Language:</strong>
      <%= @course.language %>
    </p>

    <p class="my-5">
      <strong class="block font-medium mb-1">Level:</strong>
      <%= @course.level %>
    </p>

    <p class="my-5">
      <strong class="block font-medium mb-1">Price:</strong>
      <%= @course.price %>
    </p>

    <%= link_to 'Edit this course', edit_course_path(@course), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <div class="inline-block ml-2">
      <%= button_to 'Destroy this course', course_path(@course), method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium" %>
    </div>
    <%= link_to 'Back to courses', courses_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>

