<nav class="bg-blue-300 border-gray-200 dark:bg-gray-900">
  <div class="max-w-screen-xl flex items-center justify-between mx-auto p-4">
    <div class="flex md:order-2 items-center space-x-4">
      <!-- Mobile Menu Toggle Button -->
      <button type="button" data-collapse-toggle="navbar-search" aria-controls="navbar-search" aria-expanded="false" class="md:hidden text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5">
        <svg class="w-6 h-6" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
        </svg>
        <span class="sr-only">Toggle Menu</span>
      </button>
        <%= image_tag('Ruby_logo.svg.png', style: "width:50px; height:50px") %>
    </div>

    <!-- Search Input -->
    <div class="relative hidden md:block">
      <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
        <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
        </svg>
      </div>
      <input type="text" id="search-navbar" class="block w-full p-2 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Search...">
    </div>

    <!-- Main Menu -->
    <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-search">
      <ul class="flex items-center space-x-4 gap-4">
        <li>
          <%= link_to root_path, class:"text-blue-900 dark:text-white hover:text-white" do %>
            <i class="fa-solid fa-house-chimney"></i> Home
          <% end %>
        </li>
        <li><%= link_to  courses_path, class:"text-blue-900 dark:text-white hover:text-white" do %>
            <i class="fa-solid fa-book-bookmark"></i> Courses
          <% end %>
        </li>
        <li>
          <%= link_to new_course_path, class:"text-blue-900 dark:text-white hover:text-white" do %>
            <i class="fa-solid fa-square-plus"></i> New Course
          <% end %>
        </li>
        <% if current_user %>
          <!-- Dropdown Menu -->
          <li class="relative group">
            <button id="dropdownNavbarLink" data-dropdown-toggle="dropdownNavbar" class=" hover:text-white flex items-center text-blue-900 dark:text-white">
              <i class="fa-solid fa-user"></i>  <%= current_user.email %>
              <svg class="w-4 h-4 ml-2 -mr-1 text-gray-500 dark:text-gray-400 group-hover:text-blue-500 dark:group-hover:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
              </svg>
            </button>
            <div id="dropdownNavbar" class="z-10 hidden absolute right-0 mt-2 space-y-2 w-48 py-2 bg-white border border-gray-200 rounded-lg shadow-lg dark:bg-gray-900 dark:border-gray-700 dark:divide-gray-600">
              <%= link_to  edit_user_registration_path, class:"block px-4 py-2 text-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 hover:bg-gray-100" do %>
                <i class="fa-solid fa-gears"></i> Edit Profile
              <% end %>
              <%= link_to destroy_user_session_path, method: :delete, class:"block px-4 py-2 text-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 hover:bg-gray-100" do %>
                <i class="fa-solid fa-door-open"></i> Sign Out
              <% end %>
            </div>
          </li>
        <% else %>
          <li>
            <%= link_to user_session_path, class:"text-blue-900 dark:text-white hover:text-white" do %>
              <i class="fa-solid fa-right-to-bracket"></i> Log in
            <% end %>
          </li>
          <li>
            <%= link_to new_user_registration_path, class:"text-blue-900 dark:text-white hover:text-white" do %>
              <i class="fa-solid fa-file-signature"></i> Sign up
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
